* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(34, 34, 42);
}

ul {
    list-style: none;
}

.main {
    background-color: orangered;
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.dDownBtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dDownContainer {
    position: relative;
    display: inline-block;
    background-color: royalblue;
}

.dDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 40px -50px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

.dDownItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid gray;
    /* background: red; */
    cursor: default;
}

.dDownContainer:hover .dDownContent {
    display: flex;
}