body,
html {
    background-color: rgb(32, 32, 44);
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Uni Sans;
    min-width: 500px;

    font-size: 17px;
    line-height: 1.4;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

main {
    display: flex;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition-property: background-color, border-color, box-shadow, color, opacity;
    transition-duration: .2s;
    transition-timing-function: linear;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    box-sizing: border-box;
}

.card {
    color: #111;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: rgb(185, 178, 216);
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .card {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 5% 5% 3% 5%;
}

.card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, .15);
    background-blend-mode: overlay;
    border-radius: 4px 4px 0 0;
}

.card .card-title {
    background: rgba(1, 66, 136, 0.85);
    padding: 3.5% 0 2.5% .5rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-property: max-height;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.card:hover,
.card:focus {
    background: rgb(80, 6, 70);
    box-shadow: rgba(0, 0, 0, 0.45) 0 0 20px 0;
}

.card:hover .card-title,
.card:focus .card-title {
    background: rgba(203, 210, 104, 0.95);
}

.card:hover .card-meta,
.card:focus .card-meta {
    max-height: 1em;
}