<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Create - Event</title>
</head>

<body onload="bodyLoad()">

    <div class="createEventContainer">
        <div class="createEventCard">
            <h1 class="tTitle"> Create event </h1>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">Title</label>
                <input class="inputText" type="text" placeholder="ex. Football Championship">
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
                <li>Necessitatibus neque sint ipsum. Mollitia tempora unde at quas laudantium neque error.</li>
                <li>Dicta fugit laudantium voluptates omnis porro officiis quis. Libero quis tenetur facere!</li>
            </ul>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">Address</label>
                <input class="inputText" type="text" placeholder="ex. St. Studentilor">
            </div>

            <div style="flex-direction: column" class="createEventField input-right">
                <div class="dDownContainer">
                    <button class="eventCategoryBtn">Event Category &rsaquo;&rsaquo;</button>

                    <ul class="dDownContent">
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reiciendis eos tenetur
                            maiores quisquam dignissimos, quidem beatae at cumque ipsam, quod vel!
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li style="background-color: rgb(34, 116, 141)" class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">EventDate</label>
                <input class="inputText" type="date">
            </div>

            <div style="flex-direction: column" class="createEventField input-bottom">
                <label class="createEventFieldLabelFullWidth">Preview message</label>
                <textarea rows="7" class="inputText"></textarea>
            </div>

            <div style="flex-direction: column" class="createEventField input-bottom">
                <label class="createEventFieldLabelFullWidth">Description</label>
                <textarea rows="11" class="inputText"></textarea>
            </div>



            <div class="createEventField input-right">
                <button class="submitBtn">Create event</button>
            </div>

        </div>
    </div>

</body>

</html>



<script>

    function bodyLoad() {

    }

</script>