<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Create - Event</title>
</head>

<body onload="bodyLoad()">

    <div class="createEventContainer">
        <div class="createEventCard">
            <h1 class="tTitle"> Create event </h1>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">Title</label>
                <input class="inputText" type="text" placeholder="ex. Football Championship">
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
                <li>Necessitatibus neque sint ipsum. Mollitia tempora unde at quas laudantium neque error.</li>
                <li>Dicta fugit laudantium voluptates omnis porro officiis quis. Libero quis tenetur facere!</li>
            </ul>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">Address</label>
                <input class="inputText" type="text" placeholder="ex. St. Studentilor">
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div class="createEventField input-right">
                <label class="createEventFieldLabelPartial">EventDate</label>
                <input class="inputText" type="date">
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div style="flex-direction: column" class="createEventField input-bottom">
                <label class="createEventFieldLabelFullWidth">Preview message</label>
                <textarea rows="7" class="inputText"></textarea>
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div style="flex-direction: column" class="createEventField input-bottom">
                <label class="createEventFieldLabelFullWidth">Description</label>
                <textarea rows="11" class="inputText"></textarea>
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div style="flex-direction: column" class="createEventField input-right">
                <div class="dDownContainer">
                    <button class="eventCategoryBtn">Event Category &rsaquo;&rsaquo;</button>

                    <ul class="dDownContent">
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate reiciendis eos tenetur
                            maiores quisquam dignissimos, quidem beatae at cumque ipsam, quod vel!
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li style="background-color: rgb(34, 116, 141)" class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">
                            Lorem ipsum dolor sit amet consectetur.
                        </li>
                        <li class="dDownItem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi?</li>
                        <li class="dDownItem">Quaerat magni esse voluptates rem dolores quasi. Accusamus, obcaecati.
                        </li>
                        <li class="dDownItem">Sint adipisci eum quam cum corrupti eveniet quae eius?</li>
                        <li class="dDownItem">Perferendis alias facilis nesciunt impedit molestias nihil laboriosam
                            saepe.</li>
                        <li class="dDownItem">Cupiditate, cum repellat. Unde neque eos deserunt itaque animi.</li>
                    </ul>
                </div>
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div style="flex-direction: column" class="createEventField input-bottom">
                <label class="loadImage" style="padding: 10px 0 10px 0;">
                    <input type="file" style="display: none" onchange="imageHasBeenLoaded(event)">
                    Upload image
                </label>
                <div class="boxForImg">
                    <img id="myimage" height="200px" width="200px">
                </div>
            </div>
            <ul class="errorMsg">
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat voluptatem corrupti doloribus!</li>
            </ul>

            <div class="createEventField input-right">
                <button disabled title="Some data is not valid."  class="submitBtn">Create event</button>
            </div>

        </div>
    </div>

</body>

</html>



<script>

    function imageHasBeenLoaded(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("myimage");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }

    function bodyLoad() {

    }

</script>